:root {
    --color-primary-text: #2E2F42;
    --color-secondary-text: #434455;
    --color-primary-brand: #4D5AE5;
    --color-pressed-state: #404BBF;
    --color-success: #31D0AA;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;
    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-background: rgba(46, 47, 66, 0.7);
    --color-black: rgba(0, 0, 0, 0.25);
    --color-white: #FFFFFF;
    --color-background-dark: #2E2F42;
}

body {
    color: var(--color-primary-text);
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.container {
width: 100%;
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.link {
    text-decoration: none;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
   
}
.header-nav {
    display: flex; 
    flex-grow: 1;
    align-items: center;
   
}
.nav-menu {
    display: flex;
    
   
}
.logo-first {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    color: var(--color-primary-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-second {
    color: var(--color-primary-brand);
}


.header-link {
    display: block;
    padding: 24px 20px;

    color: var(--color-primary-text);
    font-weight: 500;
   
}

.header-link:hover,
.header-link:focus {
    color: var(--color-pressed-state);

}

.header-link.current {
    color: var(--color-pressed-state);
}
.address-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.adress-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-secondary-text);
    font-style: normal;

}

.adress-link:hover,
.adress-link:focus {
    color: var(--color-pressed-state);
}

/* Hero */
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--color-background-dark);
    text-align: center;

}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;

    color: var(--color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;  

}

.hero-button {
    padding: 16px 32px;
    border: 1px solid var(--color-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--color-primary-brand);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-pressed-state);


}

/* Features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;   
}
.features-item {
    flex-basis: calc((100% - 72px) / 4);
    margin-right: 24px;
}
.features-item:last-child{
    margin-right: 0px;
}
.features-caption {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.features-text {
    margin-bottom: 0;
    color: var(--color-secondary-text);
}

.heading {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

/* Works */
.works-section {
    padding-top: 0;
}
.works-list {
    display: flex;
}
.images {
    display: block;
}
.works-item {
    flex-basis: calc((100% - 48px) / 3);
    margin-right: 24px;
}
.works-item:last-child {
    margin-right: 0px;
}

/* Team */
.team-section {
    background-color: var(--color-light);
}
.team-list {
    display: flex;
}
.team-item {
    flex-basis: calc((100% - 72px) / 4);
    margin-right: 24px;
    background-color: var(--color-white);
    text-align: center;
}
.team-item:last-child {
    margin-right: 0px;
}
.team-images {
    margin-bottom: 32px;
}
.team-caption {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.team-text {
    margin-bottom: 32px;
    color: var(--color-secondary-text);
}

/* Footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-background-dark);

}

.logo-first-light {
    display: block;
    margin-bottom: 16px;
    color: var(--color-light);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    margin-bottom: 0;
    max-width: 264px;
    color: var(--color-accent);
}

/* Portfolio */
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-item {
    margin-right: 24px;
}
.filter-item:last-child {
    margin-right: 0px;
}
.filter-button {
    padding: 12px 24px;
    color: var(--color-primary-brand);
    background-color: var(--color-light);
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-white);
    background-color: var(--color-pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    margin-right: 24px;
    margin-top: 48px;
}
.portfolio-item:nth-child(-n+3) {
    margin-top: 0px;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-container {
    padding-left: 16px;
    border: 1px solid var(--color-accent);
    padding-top: 32px;
    /* margin-bottom: 48px; */
}
/* .portfolio-container:nth-last-child(-n+3) {
    margin-bottom: 0px;
} */
.portfolio-image {
    display: block;
    margin-bottom: 0px;
}
.portfolio-caption {
    margin-bottom: 8px;
    color: var(--color-primary-text);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.portfolio-text {
    margin-bottom: 0;
    padding-bottom: 32px;
    color: var(--color-secondary-text);

}